<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PFC FrontDesk</title>
   <link rel="stylesheet" href="/volunteering_works/PFC/python-virtual-environments/pfc_frontdesk/static/style.css">
</head>
<!-- <header>
    <div class="logo">
        <img src="/volunteering_works/PFC/python-virtual-environments/pfc_frontdesk/static/pfc_logo-1-300x300.png" alt="logo">
    </div>
</header> -->
<body>
    <div class="logo">
        <img src="/volunteering_works/PFC/python-virtual-environments/pfc_frontdesk/static/pfc_logo-1-300x300.png" alt="logo">
    </div>
    <div class="background-image">
        <section id="section1" class="section">
            <h1>Weekly Activities</h1>
            <br>
            <h3>Dominion Service</h3>
            <p>Sundays @8am</p>
            <h3>Prophetic Service</h3>
            <p>Tuesdays @7pm</p>
            <h3>Teaching Service</h3>
            <p>Fridays @7pm</p>
            <h3>All Night Service</h3>
            <p>Last Friday of Every Month</p>
        </section>

        <section id="section2" class="section">
            <h1>Yearly Activities</h1>
            <p></p>
        </section>
        <section id="section3" class="section">
            <h1>Comming up Next</h1>
            <p></p>
        </section>
        <button>Go to Website</button>
    </div>
</body>
</html>

